<div class="card">
  <h2 class="card-header">User info</h2>
  <%= image_tag @user.get_profile_image(100,100),class: "card-img-top" %>
  <hr>
  <div class="card-body">
    <p class="card-title">name:<%= @user.name %></p>
    <p class="card-text">introduction:<%= @user.introduction %></p>
    <div class="card-link">
      <%= link_to edit_user_path do %>
        <% if @user.id == current_user.id %>
          <button class="btn btn-lg btn-block btn-info navbar-toggler" ><i class="fas fa-user-cog"></i></button>
        <% else %>
          <button class="btn btn-lg btn-block btn-info navbar-toggler" ><i class="fas fa-user-cog"></i></button>
        <% end %>
      <% end %>
    </div>
    <hr>
    <h2 class="card-header">New book</h2>
    <%= form_with model: @book,url: books_path, method: :post do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title,class: "form-control",placehoder: "title" %><br>

      <%= f.label :body %><br>
      <%= f.text_area :body,class: "form-control",placeholder: "body" %><br>

      <%= f.submit 'Create book' ,class: "btn btn-lg btn-block btn-info mt-4 card-footer" %>

    <% end %>
  </div>
</div>