<div>
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <hr>
  <table class="table">
    <tbody>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  <div class="card-link">
    <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user.id) do %>
        <button class="btn btn-sm btn-block btn-info" ><i class="fas fa-user-cog"></i></button>
      <% end %>
    <% end %>
  </div>
  <hr>
  <h2>New book</h2>
    <%= form_with model: Book.new,url: books_path, method: :post do |f| %>
    <li class="field list-group-item">
      <%= f.label :title %><br>
      <%= f.text_field :title,class: "form-control"%>
    </li>

    <li class="field list-group-item">
      <%= f.label :body %><br>
      <%= f.text_area :body,class: "form-control"%>
    </li>

    <div class="actions card-footer list-group-item pb-2 ">
      <%= f.submit 'Create book' ,class: "btn btn-lg btn-block btn-info" %>
    </div>

  <% end %>
</div>