<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<hr>
<p>name:<%= @user.name %></p>
<p>introduction:<%= @user.introduction %></p>
<% if @user.id == current_user.id %>
<%= link_to edit_user_path do %>
  <button class="navbar-toggler"><i class="fas fa-user-cog"></i></button>
<% end %>
<% end %>
<hr>
<h2>New book</h2>
<%= form_with model: @book,url: books_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit 'Create book' %>
<% end %>