<div class="container">
  <div class="card w-75 mx-auto mt-3 shadow-lg">
    <h2 class="card-header">Log in</h2>
    <div class="card-body">
      <div class="row no-gutters list-group list-group-flush">
          <%= form_with model: @user,url: user_session_path do |f| %>
            <li class="field list-group-item">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </li>

            <li class="field list-group-item">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </li>

            <% if devise_mapping.rememberable? %>
              <li class="field list-group-item">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </li>
            <% end %>

            <div class="actions card-footer">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
        </div>
        <hr>
      <div class="text-left card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
